<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles.css" />
    <title><%= title %></title>
  </head>
  <body>
    <%- include('header') %>
    <section class="log-in-container">
      <h1><%= title %></h1>
      <h2><%= description %></h2>
      <div class="log-in-form-container">
        <% if (auth_error && auth_error.length > 0) { %>
        <div class="error">
          <ul>
            <% auth_error.forEach(function(message) { %>
            <li><%= message %></li>
            <% }); %>
          </ul>
        </div>
        <% } %> <%- include('error') %>
        <form action="/log-in" method="post" class="log-in-form">
          <label for="email">Email: </label>
          <input type="email" name="login_email" id="login_email" />
          <label for="password">Password: </label>
          <input type="password" name="login_password" id="login_password" />
          <button class="log-in-form__button" type="submit">Log In</button>
        </form>
      </div>
    </section>
  </body>
</html>
